<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestão</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h2>Sistema de Gestão</h2>
    <nav>
      <a href="/">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/cor/red">Página Vermelha</a>
      <a href="/bootstrap">Bootstrap</a>
    </nav>
  </header>
  <div class="main">
    <div class="card">
      <h1>Bem-vindo</h1>
      <img src="{{ url_for('static', filename='imgs/teste.jpg') }}" alt="exemplo" style="width: 80%;">
      <p>
        Este sistema foi desenvolvido com Flask para oferecer uma estrutura
        moderna, organizada e preparada para expansão.
      </p>
      <a href="/sobre" class="btn">Saiba mais</a>
    </div>
  </div>
  <footer>
    © 2026 Sistema de Gestão — Todos os direitos reservados
  </footer>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>